<h1> List of All Articles </h1>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Text</th>
        <th>Time-created</th>
    </tr>

    <% @articles.each do |article| %>
    <% end %>
</table>