<h1>Show Pages</h1>

<p>
    <strong>Title: </strong>
    <%= @article.Title %>
</p>

<p>
    <strong>Author: </strong>
    <%= @article.Author %>
</p>

<p>
    <strong>Text: </strong>
    <%= @article.Text%>
</p>

<p>
    <strong>Time: </strong>
    <%%>
</p>