<div>
    <span class="flow-text"><strong>Leaderboard</strong></span>
</div>
<div class="row">
    <table class="boarded highlight centered">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
    </table>
</div>